body {
    margin: 0;
    background: #000;
}
.video-embed iframe {
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.video-title {
    position: fixed;
    color: white;
    bottom: 25px;
    left: 25px;
    font-family: sans-serif;
    text-shadow: 2px 2px #000;
}
